@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.Header {
    position: fixed;
    width: 100%;
    /*background: black;*/
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(238,160,1,1) 100%);

    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    z-index: 2;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom: 6px solid orange;

}

.Header span {
    color: white;
}



.nav {
    font-family: 'Titillium Web', serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    /*margin: .5em 1em;*/
    padding: 0;
}

.nav a {
    padding: .5em .8em;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid orange;
    border-right: 3px solid orange;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid orange;
    border-left: 3px solid orange;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav a:hover {
    color: orange;
}


.colorSwitcher{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button{
    position: relative;
}

.genres{
    position: absolute;
    right: 0;
    z-index: 2;
}